<div id="page-title" class="row">
  <div class="col-md-12" id="page-title-left">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <img src="https://kuliah.itb.ac.id/portal/assets/uploads/banner/Banner_Training_1920px.png" alt="Chania" sizes="1170x450">
          <div class="carousel-caption">
            <div class="caption" style="background-color: rgba(0, 0, 0, 0.5);padding:1px;">
              <h3>&nbsp; <a target="_blank" href="https://kuliah.itb.ac.id/portal/blog/detail/penyelenggaraan-training-e-learning-bulan-maret-2018"  style="color:#fff;">
                  Training E-learning tahun 2018</a>
              </h3>
              </div>
          </div>
        </div>    
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>